<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>沙盒.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC97E6B1E0A64C400330C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC97E841E0A64C400330C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC97E8F1E0A64C400330C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
